:root {
    /* brand colours */
    --brand-color: #FEC32D;
    --secondary-color: #050300;
    --accent-color: #FBFCFF;
    /* default heading sizes */
    --h2-size: 50px;
    --h3-size: 30px;
    --h4-size: 22px;
    --h5-size: 15px;
  }

body {
    background-color: var(--secondary-color);
}

.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--secondary-color);
}

.responsive-img-container {
    width: 500px; /* The width of the container should be responsive */
  border: 1px solid #ccc;
  /* overflow: hidden;  */
  /* transition: max-width 0.3s ease; */
}

img {
    width: 100%;
    height: 385px;
    border: 5px;
    border-radius: 50pt 50pt 0 0;
    border-color: var(--brand-color);
    border-style: solid;
    object-fit: cover;
    object-position: 0px 20%;
  }

/* Nav */
.nav-item{
    text-align: center;
}

nav{
    background-color: var(--brand-color);
}

.navbar{
    padding-top:0;
    padding-bottom:0;
}

.container-fluid {
    background-color: var(--brand-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* mobile headings and paragraphs */
h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: var(--h2-size);
    text-align: center;
    color: var(--brand-color);
    font-weight: bold;
}

h3 {
    font-size: var(--h3-size);
    /* text-align: center; */
    color: var(--secondary-color);
    font-weight: bold;
}

h3, .subheading-section {
    color: var(--brand-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
    color: var(--secondary-color);
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--accent-color);
}

/* project overview */
.projectOverview, p{
margin-bottom: 3rem;
}


.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bgf img {
    height: 100%;
    width: 100%;
    border-radius: 0px 25px 25px 0px;
}
.bgc {
    z-index: 1;
    width: 50%;
    padding: 1rem;
    padding-top: 4rem;
    height: 300px;
    background-color: #FEC32D;
    border-radius: 25px 0px 0px 25px;

}

.bgf {
    z-index: 0;
    width: 50%;
    /* background-color: #FEC32D; */
    padding: 0;
    margin: 0;
    border-radius: 25px;
}

footer {
    background-color: var(--brand-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* .footerNav {
    text-align: left;
    background-color: black;
  }
  
  .footerNav a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .footerNav ul li {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--brand-color);
    display: inline-block;
  }

  .footerNav ul {
    margin-left: 0;
    padding-left: 0;
  }
  
  .footerNav a:hover{
    color: var(--accent-color);
  } */

  @media screen and (min-width: 760px) {
    img {
        width: 500px;
        height: 500px;
        border: 10px;
        border-radius: 50pt 50pt 0 0;
        border-color: var(--brand-color);
        border-style: solid;
        object-fit:cover;
        object-position: 0px 20%;
        display: block;
        margin-left: auto;
  margin-right: auto;
      }

      .responsive-img-container{
        height: 500px;
        
      }
  }