:root {
    /* brand colours */
    --brand-color: #FEC32D;
    --secondary-color: #050300;
    --accent-color: #FBFCFF;
    /* default heading sizes */
    --h2-size: 50px;
    --h3-size: 30px;
    --h4-size: 22px;
    --h5-size: 15px;

    --h2-web-size: 100px;
    --h3-web-size: 38px;
    --h4-web-size: 22px;
    --h5-web-size: 15px;
    --p-web-size: 18px;
  }

body {
    background-color: var(--secondary-color);
}

.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--secondary-color);
}

.responsive-img-container {
    width: 500px; /* The width of the container should be responsive */
  border: 1px solid #ccc;
  /* overflow: hidden;  */
  /* transition: max-width 0.3s ease; */
}

.responsive-img-container {
    width: 75%;
    height: 400px;
    border: 5px;
    border-radius: 50pt 50pt 0 0;
    border-color: var(--brand-color);
    border-style: solid;
    object-fit: cover;
    object-position: 0px 20%;
  }

/* Nav */
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: var(--secondary-color);
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: var(--secondary-color);
}

.nav-item{
    text-align: center;
}

nav{
    background-color: var(--brand-color);
}

.navbar{
    padding-top:0;
    padding-bottom:0;
    margin-bottom: 2rem;
}

.container-fluid {
    background-color: var(--brand-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar #logo-img-container
{
    max-width: 45px;
    height: 45px;
}

/* mobile headings and paragraphs */
h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: var(--h2-size);
    text-align: center;
    color: var(--brand-color);
    font-weight: bold;
}

h3 {
    font-size: var(--h3-size);
    /* text-align: center; */
    color: var(--secondary-color);
    font-weight: bold;
}

h3, .subheading-section {
    color: var(--brand-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
    color: var(--secondary-color);
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--accent-color);
}

/* buttons */
.btn-primary {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
}

/* welcome */
.welcome {
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* project overview */
/* .projectOverview p{
margin-bottom: 1rem;
} */

/* .container-proj {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bgf img {
    height: 100%;
    width: 100%;
    border-radius: 0px 25px 25px 0px;
}
.bgc {
    z-index: 1;
    width: 50%;
    padding: 1rem;
    padding-top: 4rem;
    height: 300px;
    background-color: #FEC32D;
    border-radius: 25px 0px 0px 25px;

}

.bgf {
    z-index: 0;
    width: 50%;

    padding: 0;
    margin: 0;
    border-radius: 25px;
} */



footer {
    background-color: var(--brand-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* .footerNav {
    text-align: left;
    background-color: black;
  }
  
  .footerNav a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .footerNav ul li {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--brand-color);
    display: inline-block;
  }

  .footerNav ul {
    margin-left: 0;
    padding-left: 0;
  }
  
  .footerNav a:hover{
    color: var(--accent-color);
  } */

  @media screen and (min-width: 760px) {




    .responsive-img-container {
        width: 75%;
        height: 500px;
        border: 10px;
        border-radius: 50pt 50pt 0 0;
        border-color: var(--brand-color);
        border-style: solid;
        object-fit:cover;
        object-position: 0px 20%;
        display: block;
        margin-left: auto;
  margin-right: auto;
      }
    }

  

      /* .responsive-img-container{
        height: 500px;
        
      } */
    .card {
        height: 350px; /* Set your desired fixed height */
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 1rem;
        /* maybe make this a different color */
        background-color: #fedf8f;
        --bs-card-title-spacer-y: 0rem;
    }
    
    .card-title {
        background-color: var(--brand-color);
        padding: 10px;
        font-weight: bold;
    }
    
    .card-img-top {
        width: 100%;
        height: 50%; /* Adjust as needed */
        object-fit: cover;
        border-radius: 0;
    }
    
    .card-body {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50%; 
        /* Adjust as needed */
        padding: 10px;
    }
    
    .card-button {
        width: 150px;
        background-color: var(--brand-color);
        border-color: #fdbe1a;
    }
 

  @media (min-width: 991px) { /* Adjust the breakpoint as needed */
    /* .navbar ul li{
        display: flex;
        justify-content: center;
    } */

    .responsive-img-container {
        width: 300px;
        height: 400px;
        border: 10px;
        border-radius: 50pt 50pt 0 0;
        border-color: var(--brand-color);
        border-style: solid;
        object-fit:cover;
        object-position: 0px 20%;
        display: block;
        margin-left: auto;
  margin-right: auto;
      }
/* take out */
    /* .navbar-nav {
        flex-direction: row;
    } */

    .navbar-nav .nav-item {
        margin-right: 20px; /* Adjust the spacing between menu items */
    }
/* 
    .navbar-collapse {
        justify-content: flex-end;
    } */

    .text-content {
        margin-top:0;
      }

    h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: var(--h2-web-size);
        text-align: center;
        color: var(--brand-color);
        font-weight: bold;
    }  

    h3 {
        font-size: var(--h3-web-size);
        /* text-align: center; */
        color: var(--secondary-color);
        font-weight: bold;
    }
    
    h3, .subheading-section {
        color: var(--brand-color);
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }
    
    h4 {
        font-size: var(--h4-web-size);
    }
    
    h5 {
        font-size: var(--h5-web-size);
        color: var(--secondary-color);
    }

    p {
        font-size: var(--p-web-size);
        text-align: left;
    }

    /* .container-fluid{
        margin-right: 50%;
    } */
}
